<div th:fragment="adminBlock(listProduct)">

    <br>
    <a href="/newProductPage">New Product</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Count</th>
            <th>Price</th>
        </tr>
        <tr th:each="product : ${listProduct}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.count}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <form action="#" th:action="@{/updateProduct}" method="post">
                    <input type="hidden" name="id" th:value="${product.id}" />
                    <input type="submit" value="Update" />
                </form>
            </td>
        </tr>

    </table>
</div>