<div th:fragment="userBlock(listProduct)">

    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Count</th>
            <th>Price</th>
        </tr>
        <tr th:each="product : ${listProduct}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.count}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <form action="#" th:action="@{/shoppingCard}" method="post">
                    <select name="selectCount" id="selectCount">
                        <option name="selectCount" th:each="i : ${#numbers.sequence(0, product.count)}" th:value="${i}" th:text="${i}"></option>
                    </select>
                    <input type="hidden" name="description" th:value="${product.description}" />
                    <input type="hidden" name="currentCount" th:value="${product.count}" />
                    <input type="hidden" name="price" th:value="${product.price}" />
                    <input type="submit" value="Add to card">
                </form>
            </td>
        </tr>

        <form action="#" th:action="@{/shoppingCardPage}" method="post">
            <input type="submit" value="Shopping Card">
        </form>
    </table>
</div>