body, h1, h2, h3, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}


p {
    margin-bottom: 1rem;
}


blockquote {
    margin: 0;
    padding: 1rem;
    background-color: #f8f9fa;
    border-left: 5px solid #007bff;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}


th, td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}


input, button, textarea, select {
    font: inherit;
    margin: 0;
    padding: 0;
}


button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
}

button:hover {
    background-color: #0056b3;
}


img {
    max-width: 100%;
    height: auto;
}
