<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Shopping cart for <span th:text="${userName}"></span></h1>

    <table>
        <tr>
            <th>Description</th>
            <th>Count</th>
            <th>Price</th>
        </tr>
        <tr th:each="product : ${shoppingCard}">
            <td th:text="${product.item}"></td>
            <td th:text="${product.count}"></td>
            <td th:text="${product.summ}"></td>
        </tr>
    </table>
    <form action="#" th:action="@{/deleteAllFromCard}" method="post">
        <input type="submit" value="Clean the shopping card">
    </form>

    <form action="#" th:action="@{/buyProduct}" method="post">
        <input type="submit" value="Buy">
    </form>
    <br>
    <a href="/">Come back</a>

</body>
</html>