<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Hello , <span th:text="${name}"></span>!</h1>
    <div th:if="${messageCheck}">
        <span>Thank you your payment is successful </span>
    </div>
    <div th:if="${isAdmin}">
        <div th:replace="fragments/admin :: adminBlock(${listProduct})"></div>
    </div>
    <div th:unless="${isAdmin}">
        <div th:replace="fragments/user :: userBlock(${listProduct})"></div>
    </div>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>
</body>
</html>