<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h2>New Product</h2>
    <form th:action="@{/addNewProduct}" method="post">
        <div><label> Description : <input type="text" name="description"/> </label></div>
        <div><label> Count : <input type="text" pattern="\d+" name="count"/> </label></div>
        <div><label> Price : <input type="text" pattern="\d+" name="price"/> </label></div>
        <div><input type="submit" value="Create"/></div>
    </form>
</body>
</html>