<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h2>Update Product</h2>
    <form action="#" th:action="@{/updateProductPage}" method="post">
        <input type="hidden" name="id" th:value="${id}"/>
        <div><label> Description : <input type="text" name="description" th:value="${desc}"/> </label></div>
        <div><label> Count : <input type="text" pattern="\d+" name="count" th:value="${count}"/> </label></div>
        <div><label> Price : <input type="text" pattern="\d+" name="price" th:value="${price}"/> </label></div>
        <div><input type="submit" value="Update"/></div>
    </form>
</body>
</html>